<h1>Flights#index</h1>
<p>Find me in app/views/flights/index.html.erb</p>

<p>

  <%= form_with url: flights_path, method: :get do |form| %>
    <%= form.label :arrival_ids, "Arrival Airports" %><br>
    <%= form.collection_select :arriving_flights, Airport.all, :id, :name, prompt: true%><br>
    
    <%= form.label :departure_ids, "Departure Airports" %><br>
    <%= form.collection_select :departure_flights, Airport.all, :id, :name, prompt: true%><br>
    
    <%= form.label :passengers, "Passengers" %><br>
    <%= form.select :passengers, (1..4).to_a%><br>

    <%= form.label :start, "Dates" %><br>
    <%= select_tag "start", options_from_collection_for_select(Flight.all, :id, :start) %><br>
    
    <%= form.submit "Search" %>
  <% end %>
</p>
